<nav>
	<ol>
		<li><a href="/museo/autore"><i class="fa fa-user fa-lg orange" aria-hidden="true"></i> Autore<nav class="linea">
				</nav></a></li>

		<li><a href="/museo/opera"><i class="fa fa-picture-o orange" aria-hidden="true"></i> Opera<nav class="linea"></nav>
				</a></li>

		<li><a href="/museo/sala"><i class="fa fa-map-marker orange" aria-hidden="true"></i> Sala<nav class="linea"></nav>
				</a></li>

		<li><a href="/museo/tema"><i class="fa fa-paint-brush orange" aria-hidden="true"></i> Tema<nav class="linea"></nav>
				</a></li>
	</ol>
</nav>